.avatar {
    width:128px;
    margin:3em,6em;
    border:1px solid gray;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.left{
    float:left;
    width:100px;
    margin-right:2em;
}

.right{
    float:right;
    margin-top:.5em;
   
  

}
.center{margin:0 auto;
    width:100px;
   
}
.column {
    float: left;
    width: 40%;
    margin-top:10em;
  }